[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "i2dash"]
	path = i2dash
	url = https://github.com/loosolab/i2dash
[submodule "multicrispr"]
	path = multicrispr
	url = https://github.com/loosolab/multicrispr
[submodule "wilson"]
	path = wilson
	url = https://github.com/loosolab/wilson
